[user]
aws_access_key_id = XXX
aws_secret_access_key = XXX

[prod]
source_profile = prod
region = ap-southeast-2
role_arn = arn:aws:iam::XXX:role/XXX
role_session_name = user-prod
mfa_serial = arn:aws:iam::XXX:mfa/XXX
